@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root{
    --lucky-point: #2b2f48;
    --cinza-50: #4F4F4F;
    --cinza-25: #8f8f8f;
    --red: #FF1212;
    --golden-yellow: #FFEB00;
    --red-speech: #CC1111;
    --marron: #7F0A0A;
}

*{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.intro__image{
    background-color: var(--golden-yellow);
}

body{
    text-align: center;
    margin: 0;
    
}

[class$="title"]{
    color: var(--lucky-point)
}

[class$="description"], [class$="subtitle"]{
    color: var(--cinza-25)
}
.intro__image{
    padding: 20px
}

.image__logo{
    max-width: 100%;
}


.intro__text{
    margin: auto;
    width: 80vw;
}

.text__title{
    font-size: 2rem;
}
.text__title--red{
    font-size: 2rem;
    color: var(--red);
}

.text__description{
    line-height: 1.8;
    font-weight: 400;
}

.intro__button{
    background-color: var(--red);
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

.intro__button a{   
    color: white;
    font-weight: 500;
    
}

.ranking__title{
    font-size: 1.5rem;
    
}

.ranking__description{
    line-height: 1.8;
    font-weight: 400;
}

.ranking__buttons button{
    background: none;
    border: none;
}

.ranking__buttons .button::after{
    content: '';
    border-bottom: 3px solid var(--golden-yellow);
    display: block;
    padding: 3px;
}

.features__title{
    font-size: 1.5rem; 
}

.features__description{
    line-height: 1.8;
    font-weight: 400;
}

.features__title--box{
    font-size: .975rem; 
}

.features__subtitle{
    font-size: .9rem;
}

.features__box{
    display: inline-block;
    margin: 0 auto;
    width: 220px;
    height: 250px;
    box-shadow: 1px 1px 5px -1px var(--cinza-25);
    border-radius: 5px;
    position: relative;
    margin: 20px;
    padding-top: 15px;
}

.features__button{
    width: 200px;
    left: 10px;
    position: absolute;
    bottom: 15px;
    background-color: var(--red);
    height: 40px;
    border: none;
    border-radius: 5px;
}

.features__button a{
    font-size: .975rem;
    color: white;
    font-weight: 500;
}

.features__button::before{
    content: '';
    background: url(/images/bg-dots.svg) no-repeat;
    width: 210px;
    height: 5px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 60px;
}

.features__icon{
    width: 70px;
}