@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root{
    --lucky-point: #2b2f48;
    --cinza-50: #4F4F4F;
    --cinza-25: #8f8f8f;
}
/**/
*{
    font-family: 'Rubik', sans-serif;
}

body{
    text-align: center;
    margin: 0;
}

.main{
    display: grid;
    gap: 80px;
}

[class$="title"]{
    color: var(--lucky-point)
}

[class$="description"], [class$="subtitle"]{
    color: var(--cinza-25)
}

/*-----INTRO-----*/

.intro__image{
    background-color: #FFEB00;
}

.image__logo{
    position: relative;
    width: 320px;
    margin-top: 20px;
}


.features__icon{
    width: 60px;
}