.botao{
    width: 200px;
    height: 60px;
    border-radius: 7px;
    border: none;
    background-color: var(--vermelho);
    box-shadow: 4px 4px 5px rgba(0,0,0,.25);
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin: 20px 10px;
    transition: .3s ease-out;
}

.botao:hover{
    box-shadow: none;
}

.botoes-ranking{
    background-color: white;
    border: 2px solid var(--vermelho);
    color: var(--vermelho);
    font-size: 1.2rem;
    line-height: 2.6;
    width: 120px;
}

.botao-fino{
    height: 37px;
}