.rodape{
    color: white;
    padding: 20px 0;
    background-color: var(--preto);
}

.rodape a{
    color: white;
}

.logo-prepara{
    width: 135px;
    height: 87px;
    margin: 15px 0 5px 0; 
}

.rodape p{
    width: 70%;
    margin: 0 auto;
}

.rodape div{
    margin: 0 auto;
    width: 200px;
}

.icone-social{
    width: 30px;
    height: 30px;
    padding: 5px;
    transition: ease-in-out .2s;
}

.icone-social:hover{
    transform: scale(1.2);
}