.introducao{
    background: url(../images/celebrating.jpg) no-repeat center;
    background-size: cover;
    height: 95vh;
    position: relative;
}

.introducao div{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    color: white;
}

.titulo, .titulo span{font-size: 3rem;}
