.semana-1 .melhores-1{
    background-image: url(../images/top3/andressa.jpeg);
    
}

.semana-1 .melhores-3{
    background-image: url(../images/top3/rafaela.jpeg);
}

.semana-2 .melhores-1{
    background-image: url(../images/top3/rafaela.jpeg);
}

.semana-2 .melhores-2{
    background-image: url(../images/top3/barbara.jpeg);
}

.semana-2 .melhores-3{
    background-image: url(../images/top3/andressa.jpeg);
}

.semana-3 .melhores-1{
    background-image: url(../images/top3/rafaela.jpeg);
}

.semana-3 .melhores-2{
    background-image: url(../images/top3/andressa.jpeg);
}

.semana-3 .melhores-3{
    background-image: url(../images/top3/anavitoria.jpeg);
}

.semana-4 .melhores-1{
    background-image: url(../images/top3/rafaela.jpeg);
}

.semana-4 .melhores-2{
    background-image: url(../images/top3/ivana.jpeg);
}

.semana-4 .melhores-3{
    background-image: url(../images/top3/anavitoria.jpeg);
}